<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TakeON</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLoginServlet</display-name>
    <servlet-name>ClientLoginServlet</servlet-name>
    <servlet-class>ClientLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLoginServlet</servlet-name>
    <url-pattern>/ClientLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightsServlet</display-name>
    <servlet-name>SearchFlightsServlet</servlet-name>
    <servlet-class>SearchFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightsServlet</servlet-name>
    <url-pattern>/SearchFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookingServlet</display-name>
    <servlet-name>ConfirmBookingServlet</servlet-name>
    <servlet-class>ConfirmBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookingServlet</servlet-name>
    <url-pattern>/ConfirmBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmPaymentServlet</display-name>
    <servlet-name>ConfirmPaymentServlet</servlet-name>
    <servlet-class>ConfirmPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmPaymentServlet</servlet-name>
    <url-pattern>/ConfirmPaymentServlet</url-pattern>
  </servlet-mapping>
</web-app>